<head>
    <title>{{ site.name }} {{ function('wp_title') }}</title>
    <meta charset="{{ site.charset }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="{{ site.pingback_url }}" />


    <link rel="stylesheet" href="/app/themes/lumberjack/build/app.css">
<!--    header function start -->
    {{ function('wp_head') }}
<!--    header function end -->
</head>
